#goodsinfo1{
	margin-top:60px;
}
#fo{
	margin-top: 80px;
}
#fo .layui-input-block{
	float: left;
	margin-left: 0;
}
#fo .layui-input-block .layui-input{
	width:339px;
}
#fo .layui-btn{
	margin-left: 20px;
	float: left;
}
#fo #addls{
	margin-left:222px;
}
#down,#update{
	cursor: pointer;
}
#file{margin:5px;}
